body{                                  
    background-color:darkgreen; 
    /*background-image:url(apple.jpg);*/
    font-family: Arial, Helvetica, sans-serif;
}

/*div#background {
    margin: auto; 
    width: auto; 
    height: auto; 
    background-color: #ff6a00; /*#F0EADB;*/
 

div#headline {
    text-align:center;
    vertical-align:central;
    background-repeat:no-repeat;
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    margin:auto;
    width:1500px;
    height:100px;
   /* background-color:aqua; */
   align-content:center;
    /*background-image:url(logo.gif);*/
    background-color:white;
}

div#login {
    font-size:16px;
    text-align:center;
    align-items:center;
    background-color:darkgreen;
    width:1500px;
    height:50px;
    margin:auto;
}

div#search_bar{
    background-color:white;
    width:1500px;
    height:50px;
    margin:auto;
    align-items:center;
    text-align:center;
}

div#page {
    margin: auto;
    width: 1500px; 
    height: 100%; 
    background-color: #ffffff;
    text-align:center;
    align-items:center;
    /*opacity: 0.6;
    filter: alpha(opacity=60);*/
}

div#pageOther {
    margin: auto;
    width: 1500px; 
    height: 100%; 
    background-color: #ffffff;
    text-align:left;
}

div#pageCart {



}